.heading {
    margin-top: 6rem;
}

.grey {
    color: rgb(166, 164, 164); 
}

.reciep {
    border: none !important;
}

.btn-close {
    margin-top: 2rem;
}

.categories {
    color: grey !important;
}

.reciep-text {
    margin-left: 1rem;
}

.ingredient-list {
    margin-top: none;
    list-style-type: square;
    color: grey;
    border: none;
}

.steps {
    margin-top: none;
    list-style-type: upper-roman;
    color: grey;
    border: none;
    margin-left: 1rem;
}